<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdoer.bedrock.serviceprovider.mapper.org.OrganizationMapper">
  <resultMap id="BaseResultMap" type="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="TENANT_ID" jdbcType="BIGINT" property="tenantId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="LEVEL" jdbcType="INTEGER" property="level" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PARENT_ID" jdbcType="BIGINT" property="parentId" />
    <result column="CONTEXT_TYPE" jdbcType="BIGINT" property="contextType" />
    <result column="CONTEXT_PATH" jdbcType="VARCHAR" property="contextPath" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="BIGINT" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GUID, TENANT_ID, NAME, CODE, LEVEL, STATUS, PARENT_ID, CONTEXT_TYPE, CONTEXT_PATH, 
    DESCRIPTION, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from organization
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from organization
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO" useGeneratedKeys="true">
    insert into organization (GUID, TENANT_ID, NAME, 
      CODE, LEVEL, STATUS, 
      PARENT_ID, CONTEXT_TYPE, CONTEXT_PATH, 
      DESCRIPTION, CREATED_BY, CREATED_AT, 
      UPDATED_BY, UPDATED_AT)
    values (#{guid,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{contextType,jdbcType=BIGINT}, #{contextPath,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO" useGeneratedKeys="true">
    insert into organization
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        GUID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="level != null">
        LEVEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="contextType != null">
        CONTEXT_TYPE,
      </if>
      <if test="contextPath != null">
        CONTEXT_PATH,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        #{contextType,jdbcType=BIGINT},
      </if>
      <if test="contextPath != null">
        #{contextPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO">
    update organization
    <set>
      <if test="guid != null">
        GUID = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        LEVEL = #{level,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="contextType != null">
        CONTEXT_TYPE = #{contextType,jdbcType=BIGINT},
      </if>
      <if test="contextPath != null">
        CONTEXT_PATH = #{contextPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO">
    update organization
    set GUID = #{guid,jdbcType=VARCHAR},
      TENANT_ID = #{tenantId,jdbcType=BIGINT},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      LEVEL = #{level,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=BIGINT},
      CONTEXT_TYPE = #{contextType,jdbcType=BIGINT},
      CONTEXT_PATH = #{contextPath,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from organization
  </select>
  <select id="selectByExample" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO" resultMap="BaseResultMap">
    select * from organization
    <where>
      <if test="id != null">
        and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="guid != null">
        and GUID = #{guid,jdbcType=VARCHAR}
      </if>
      <if test="tenantId != null">
        and TENANT_ID = #{tenantId,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="code != null">
        and CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="level != null">
        and LEVEL = #{level,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and STATUS = #{status,jdbcType=VARCHAR}
      </if>
      <if test="parentId != null">
        and PARENT_ID = #{parentId,jdbcType=BIGINT}
      </if>
      <if test="contextType != null">
        and CONTEXT_TYPE = #{contextType,jdbcType=BIGINT}
      </if>
      <if test="contextPath != null">
        and CONTEXT_PATH = #{contextPath,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and DESCRIPTION = #{description,jdbcType=VARCHAR}
      </if>
      <if test="createdBy != null">
        and CREATED_BY = #{createdBy,jdbcType=BIGINT}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedBy != null">
        and UPDATED_BY = #{updatedBy,jdbcType=BIGINT}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="countByEntityPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.org.OrganizationEO" resultType="java.lang.Integer">
    select count(*) from organization where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>