<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdoer.bedrock.serviceprovider.mapper.application.ActionMethodMapper">
  <resultMap id="BaseResultMap" type="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="APPLICATION_ID" jdbcType="BIGINT" property="applicationId" />
    <result column="PAGE_ID" jdbcType="BIGINT" property="pageId" />
    <result column="ACTION_ID" jdbcType="BIGINT" property="actionId" />
    <result column="SERVICE_ID" jdbcType="BIGINT" property="serviceId" />
    <result column="METHOD_ID" jdbcType="BIGINT" property="methodId" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="BIGINT" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, APPLICATION_ID, PAGE_ID, ACTION_ID, SERVICE_ID, METHOD_ID, CREATED_BY, CREATED_AT, 
    UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_action_method
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fw_action_method
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO" useGeneratedKeys="true">
    insert into fw_action_method (APPLICATION_ID, PAGE_ID, ACTION_ID, 
      SERVICE_ID, METHOD_ID, CREATED_BY, 
      CREATED_AT, UPDATED_BY, UPDATED_AT
      )
    values (#{applicationId,jdbcType=BIGINT}, #{pageId,jdbcType=BIGINT}, #{actionId,jdbcType=BIGINT}, 
      #{serviceId,jdbcType=BIGINT}, #{methodId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO" useGeneratedKeys="true">
    insert into fw_action_method
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        APPLICATION_ID,
      </if>
      <if test="pageId != null">
        PAGE_ID,
      </if>
      <if test="actionId != null">
        ACTION_ID,
      </if>
      <if test="serviceId != null">
        SERVICE_ID,
      </if>
      <if test="methodId != null">
        METHOD_ID,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applicationId != null">
        #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="pageId != null">
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="actionId != null">
        #{actionId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="methodId != null">
        #{methodId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO">
    update fw_action_method
    <set>
      <if test="applicationId != null">
        APPLICATION_ID = #{applicationId,jdbcType=BIGINT},
      </if>
      <if test="pageId != null">
        PAGE_ID = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="actionId != null">
        ACTION_ID = #{actionId,jdbcType=BIGINT},
      </if>
      <if test="serviceId != null">
        SERVICE_ID = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="methodId != null">
        METHOD_ID = #{methodId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO">
    update fw_action_method
    set APPLICATION_ID = #{applicationId,jdbcType=BIGINT},
      PAGE_ID = #{pageId,jdbcType=BIGINT},
      ACTION_ID = #{actionId,jdbcType=BIGINT},
      SERVICE_ID = #{serviceId,jdbcType=BIGINT},
      METHOD_ID = #{methodId,jdbcType=BIGINT},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from fw_action_method
  </select>
  <select id="selectByExample" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO" resultMap="BaseResultMap">
    select * from fw_action_method
    <where>
      <if test="id != null">
        and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="applicationId != null">
        and APPLICATION_ID = #{applicationId,jdbcType=BIGINT}
      </if>
      <if test="pageId != null">
        and PAGE_ID = #{pageId,jdbcType=BIGINT}
      </if>
      <if test="actionId != null">
        and ACTION_ID = #{actionId,jdbcType=BIGINT}
      </if>
      <if test="serviceId != null">
        and SERVICE_ID = #{serviceId,jdbcType=BIGINT}
      </if>
      <if test="methodId != null">
        and METHOD_ID = #{methodId,jdbcType=BIGINT}
      </if>
      <if test="createdBy != null">
        and CREATED_BY = #{createdBy,jdbcType=BIGINT}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedBy != null">
        and UPDATED_BY = #{updatedBy,jdbcType=BIGINT}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="countByEntityPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ActionMethodEO" resultType="java.lang.Integer">
    select count(*) from fw_action_method where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>