<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdoer.bedrock.serviceprovider.mapper.application.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="VERSION" jdbcType="VARCHAR" property="version" />
    <result column="PROVIDER" jdbcType="VARCHAR" property="provider" />
    <result column="ENABLED" jdbcType="CHAR" property="enabled" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="BIGINT" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, CODE, DESCRIPTION, VERSION, PROVIDER, ENABLED, CREATED_BY, CREATED_AT, 
    UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_application
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fw_application
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO" useGeneratedKeys="true">
    insert into fw_application (NAME, CODE, DESCRIPTION, 
      VERSION, PROVIDER, ENABLED, 
      CREATED_BY, CREATED_AT, UPDATED_BY, 
      UPDATED_AT)
    values (#{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{version,jdbcType=VARCHAR}, #{provider,jdbcType=VARCHAR}, #{enabled,jdbcType=CHAR}, 
      #{createdBy,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO" useGeneratedKeys="true">
    insert into fw_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="version != null">
        VERSION,
      </if>
      <if test="provider != null">
        PROVIDER,
      </if>
      <if test="enabled != null">
        ENABLED,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        #{provider,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO">
    update fw_application
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        VERSION = #{version,jdbcType=VARCHAR},
      </if>
      <if test="provider != null">
        PROVIDER = #{provider,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        ENABLED = #{enabled,jdbcType=CHAR},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO">
    update fw_application
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=VARCHAR},
      PROVIDER = #{provider,jdbcType=VARCHAR},
      ENABLED = #{enabled,jdbcType=CHAR},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from fw_application
  </select>
  <select id="selectByExample" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO" resultMap="BaseResultMap">
    select * from fw_application
    <where>
      <if test="id != null">
        and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="name != null">
        and NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="code != null">
        and CODE = #{code,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and DESCRIPTION = #{description,jdbcType=VARCHAR}
      </if>
      <if test="version != null">
        and VERSION = #{version,jdbcType=VARCHAR}
      </if>
      <if test="provider != null">
        and PROVIDER = #{provider,jdbcType=VARCHAR}
      </if>
      <if test="enabled != null">
        and ENABLED = #{enabled,jdbcType=CHAR}
      </if>
      <if test="createdBy != null">
        and CREATED_BY = #{createdBy,jdbcType=BIGINT}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedBy != null">
        and UPDATED_BY = #{updatedBy,jdbcType=BIGINT}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="countByEntityPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.application.ApplicationEO" resultType="java.lang.Integer">
    select count(*) from fw_application where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>