<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdoer.bedrock.serviceprovider.mapper.service.ServiceReferenceMapper">
  <resultMap id="BaseResultMap" type="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="SERVICE_ID" jdbcType="BIGINT" property="serviceId" />
    <result column="REFEREE_ID" jdbcType="BIGINT" property="refereeId" />
    <result column="CREATED_BY" jdbcType="BIGINT" property="createdBy" />
    <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="UPDATED_BY" jdbcType="BIGINT" property="updatedBy" />
    <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SERVICE_ID, REFEREE_ID, CREATED_BY, CREATED_AT, UPDATED_BY, UPDATED_AT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fw_service_reference
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fw_service_reference
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO" useGeneratedKeys="true">
    insert into fw_service_reference (SERVICE_ID, REFEREE_ID, CREATED_BY, 
      CREATED_AT, UPDATED_BY, UPDATED_AT
      )
    values (#{serviceId,jdbcType=BIGINT}, #{refereeId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO" useGeneratedKeys="true">
    insert into fw_service_reference
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serviceId != null">
        SERVICE_ID,
      </if>
      <if test="refereeId != null">
        REFEREE_ID,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdAt != null">
        CREATED_AT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedAt != null">
        UPDATED_AT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="refereeId != null">
        #{refereeId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO">
    update fw_service_reference
    <set>
      <if test="serviceId != null">
        SERVICE_ID = #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="refereeId != null">
        REFEREE_ID = #{refereeId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO">
    update fw_service_reference
    set SERVICE_ID = #{serviceId,jdbcType=BIGINT},
      REFEREE_ID = #{refereeId,jdbcType=BIGINT},
      CREATED_BY = #{createdBy,jdbcType=BIGINT},
      CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=BIGINT},
      UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from fw_service_reference
  </select>
  <select id="selectByExample" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO" resultMap="BaseResultMap">
    select * from fw_service_reference
    <where>
      <if test="id != null">
        and ID = #{id,jdbcType=BIGINT}
      </if>
      <if test="serviceId != null">
        and SERVICE_ID = #{serviceId,jdbcType=BIGINT}
      </if>
      <if test="refereeId != null">
        and REFEREE_ID = #{refereeId,jdbcType=BIGINT}
      </if>
      <if test="createdBy != null">
        and CREATED_BY = #{createdBy,jdbcType=BIGINT}
      </if>
      <if test="createdAt != null">
        and CREATED_AT = #{createdAt,jdbcType=TIMESTAMP}
      </if>
      <if test="updatedBy != null">
        and UPDATED_BY = #{updatedBy,jdbcType=BIGINT}
      </if>
      <if test="updatedAt != null">
        and UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="countByEntityPrimaryKey" parameterType="com.tdoer.bedrock.serviceprovider.eo.service.ServiceReferenceEO" resultType="java.lang.Integer">
    select count(*) from fw_service_reference where id=#{id,jdbcType=BIGINT}
  </select>
</mapper>